name: Workflow to deploy high availability setup
on:
    push:
        branches: [ main ]
        paths-ignore:
            - 'README.md'
      
permissions:
    id-token: write
    contents: read

jobs:
    deploy_with_terraform:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.7.0
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                role-to-assume: ${{ secrets.OIDC_IAM_ROLE }}
                aws-region: us-east-1

            - name: Initialize terraform
              run: terraform init -input=false -backend-config="bucket=${{ secrets.BACKEND_S3_BUCKET }}"

            - name: Apply the configuration
              run: terraform apply -auto-approve
    
    configure_with_ansible:
        needs: deploy_with_terraform
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.7.0
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                role-to-assume: ${{ secrets.OIDC_IAM_ROLE }}
                aws-region: us-east-1

            - name: Initialize terraform
              run: terraform init -input=false -backend-config="bucket=${{ secrets.BACKEND_S3_BUCKET }}"

            - name: Update ssh rule to allow current runner IP
              run: terraform apply -auto-approve -target=aws_vpc_security_group_ingress_rule.ssh

            - name: Retrieve private key
              run: |
                terraform output -raw key_pair_private_key > deployer-key.pem
                chmod 600 deployer-key.pem
            
            - name: Install Ansible
              run: |
                sudo apt-get update -y
                sudo apt-get install -y ansible              

            - name: Setup Ansible configurations
              run: |
                chmod +x generate_inventory.sh
                ./generate_inventory.sh

            - name: Run Ansible playbook
              env:
                ANSIBLE_HOST_KEY_CHECKING: False
              run: ansible-playbook -i hosts site.yml