name: Workflow to deploy high availability setup
on:
    workflow_dispatch

permissions:
    id-token: write
    contents: read

jobs:
    terraform_deploy:
        runs-on: ubuntu-latest
        steps:
            - name: checkout the code
              uses: actions/checkout@v4
            
            - name: Setup terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform-version: 1.7.0
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                role-to-assume: arn:aws:iam::679217508170:role/aws-high-availability-role
                aws-region: us-east-1

            - name: initialize terraform
              run: terraform init -input=false

            - name: Apply the configuration
              run: terraform apply --auto-apporve

            - name: Setup private key
              run: |
                terraform output -raw key_pair_private_key > deployer-key.pem
                chmod 600 deployer-key.pem
            
            - name: Install ansible
              run: sudo yum install ansible -y

            - name: Setup ansible configurations
              run: |
                chmod +x generate_inventory.sh
                ./generate_inventory.sh
                export ANSIBLE_HOST_KEY_CHECKING=False

            - name: Run ansible playbook
              run: ansible-playbook -i hosts site.yml